<ul>
    {{! Put your external links here }}
    <li><a href="https://jobninja.com/docs/impressum.html">Impressum</a></li>
    <li><a href="https://jobninja.com/docs/agb.pdf">AGB</a></li>
    <li><a href="https://jobninja.com/docs/ds.pdf">Datenschutz</a></li>
</ul>
