<ul>
    {{! Put your external links here }}
    <li><a href="https://jobninja.com/docs/impressum.html" target="_blank">Impressum</a></li>
    <li><a href="https://jobninja.com/docs/agb.pdf" target="_blank">AGB</a></li>
    <li><a href="https://jobninja.com/docs/ds.pdf" target="_blank">Datenschutz</a></li>
</ul>
