<ul class="social">
    {{! Put your social media links here }}
    <li><a href="https://www.facebook.com/JobNinja.eu" target="_blank"><i class="fa fa-lg fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/JobNinjaEU" target="_blank"><i class="fa fa-lg fa-twitter"></i></a></li>
    <li><a href="https://www.linkedin.com/company-beta/10629049" target="_blank"><i class="fa fa-lg fa-linkedin"></i></a></li>
</ul>
