nav {
    &.main-navigation {
        flex: 2;
        text-align: right;
        ul {
            margin: 0;
            padding: 40px 0 0;
            li {
                list-style: none;
                display: inline-block;
                font-size: 14px;
                &:after {
                    content: "·";
                    padding-right: .5em;
                    padding-left: .5em;
                    color: $link;
                }
                &:last-child:after {
                    content: '';
                }
                a {
                    font-size: 16px;
                    font-weight: 400;
                    &:hover{
                        color: $link;
                        border-bottom: 2px solid $header_link;
                        -moz-transition: none;
                        -webkit-transition: none;
                        -o-transition: color 0 ease-in;
                        transition: none;
                    }
                }
            }
        }
    }
    &.pagination {
        text-align: center;
        font-size: .8em;
        margin-bottom: 40px;
        .page-number {
            margin: 0 10px;
        }
    }
}

@media only screen and (max-width: 768px) {
    body.nav-opened {
    	header .main-navigation {
    		margin: 0;
    	    display: block;
    	    position: fixed;
    	    top: 0;
    	    right: 0;
    	    bottom: 0;
    	    z-index: 1;
    	    width: 100%;
    	    left: 0px;
    	    transform: translate3D(0, 0, 0);
    	    opacity: 1;
    	    color: #fff;
    	    background: $menu_bg;
    	    margin-bottom: 0;
    	    text-align: left;
    	    overflow-y: auto;
    	    ul {
                padding: 20% 0% 0%;
                list-style: none;
    	    	li {
                    padding: 8px 15px 8px;
                    display: block;
                    background: white;
                    margin-bottom: 5px;

                    &:after {
                        content: "";
                        padding: 0;
                    }
                    a {
                        color: $menu_text;
                        font-size: 16px;
                        font-weight: 400;
                    }
    	    	}
    	    }
    	}
    }
}
