$main_text: #1D2022;
$border_color: #f1f1f1;
$link: #666;

$header_text: #a5a5a5;
$header_link: #BF1523;

$post_meta: #bfbfbf;

$footer_bg: rgb(31, 105, 73);
$footer_color: #fff;
$footer_link: rgba(255, 255, 255, 0.6);

$menu_bg: #eee;
$menu_text: $header_link;
$menu_item_bg: white;